ANTHROPIC_SECRET=
GOOGLE_SECRET=
OPENAI_SECRET=sk-proj-
XAI_SECRET=
GROQ_SECRET=
CLOUDFLARE_SECRET=
DEEPSEEK_SECRET=
CEREBRAS_SECRET=

STRIPE_WEBHOOK_SIGNING_SECRET=
STRIPE_SECRET=
STRIPE_PUBLISHABLE_KEY=
DB_SECRET=
SKIP_LOGIN=